# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env

# Distribution / Packaging
build/
dist/
*.spec
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.pytest_cache/

# IDE Settings
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
